.img-thumbnail{
    margin-left: 100px;
}
@media only screen and (max-width:576px) 
{
    .img-thumbnail {
        margin-left: 10000px;
    }
}
@media only screen and (min-device-width: 601px) and (max-device-width: 768px)
{
    .navbar li {
        font-size: 20px;
        margin-left: 40px;
    }
    .header{
        height: 700px;
        display: block;
    }
    .foto img{
        width: 240px;
        height: 320px;
    }
    .foto {
        width: 100%;
        
    }
    .identitas{
        padding-left: 170px;
        padding-top: 80px;
        text-align: center;
    }
    .nama{
        font-size: 100px;
    }
    .isi{
        display: block;
    }
    .status{
        font-size: 50px;
        text-align: center;
    }
    .kiri{
        width: 100%;
        height: 600px;
    }
    .footer{
       top: 290%;
       position: absolute;
    }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1366px)
{
    .navbar li {
        font-size: 20px;
        margin-left: 80px;
    }
    .header{
        height: 700px;
        display: block;
        text-align: center;
    }
    .foto img{
        width: 240px;
        height: 320px;
    }
    .foto {
        width: 100%;
        
    }
    .identitas{
        padding-left: 220px;
        padding-top: 70px;
    }
    .nama{
        font-size: 100px;
    }
    .isi{
        display: block;
    }
    .status{
        font-size: 50px;
        text-align: center;
    }
    .kiri{
        width: 100%;
        height: 550px;
    }
    .footer{
       top: 275%;
       position: absolute;
    }
}
